.city-bg {
	min-height: 600px;
	height: 70vh;
	padding-top: 3rem;
}

//City Titles
.city-title {
	color: $color-white;
	font-size: 50px;
	font-weight: 100;
}

.city-subtitle {
	font-size: 32px;
}

@media (min-width: $breakpoint-tablet) {
	.city-title {
		font-size: 4rem;
	}
}
