//General
.date-info-section {
    text-align: left;
    color: #333;
}


.date-info-section-title {
    margin: 2rem;
    font-size: 36px;
    text-align: left;
}

//Container
.date-info {
    background-color: #DDD;
    position: relative;
    bottom: 50px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.date-info-icon {
    width: 90px;
}

@media (min-width: 800px) {
    .date-info-section {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .date-info {
        justify-content: space-around;
    }

    .date-info-text {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5rem;

    }
}