$color-border: #d35400;
//General
.date-info-section {
    text-align: center;
    width: 33%;
    //border: 1px solid red;
    display: flex;
    .date-graphic {
        width: 40%;
        background-color: $color-border;
    }
    .date-info-text {
        width: 60%;
        background-color: #333;
        color: white;
    }
}

.section-title {
    color: white;
    background-color: #333;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.date-info-img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.date-info-label {
    margin: 10px 0;
    font-size: 22px;
}

.date-info-data {
    margin: 10px 0;
}

//Container
.date-info {
    position: relative;
    bottom: 50px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
    //border: 1px solid red;
    display: flex;
    justify-content: space-around;
}
