.day-forecast {
}

.day-forecast-title {
	font-weight: 400;
	font-size: 32px;
	margin-bottom: 2rem;
}

.day-forecast-text {
	text-align: center;
	padding-bottom: 3rem;
}

//Container
.day-forecast-information {
}

.day-forecast-information-section {
	margin-bottom: 2rem;
}

.day-forecast-section-icon {
	width: 75px;
	margin-bottom: 1.5rem;
}

.day-forecast-data-row {
	margin: 0.4rem 0;
}

.day-forecast-city-image {
	min-height: 500px;
}

@media (min-width: $breakpoint-tablet) {
	.day-forecast-information {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: $breakpoint-desktop) {
	.day-forecast {
		width: 90%;
		margin: 0 auto;
		display: flex;
		padding-bottom: 3rem;
	}

	.day-forecast-information {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.day-forecast-information-section {
		&-temp {
			grid-area: 1 / 1 / span 2 / span 1;
		}
		&-weather {
			grid-area: 1 / 2 / span 1 / span 1;
		}
		&-wind {
			grid-area: 2 / 2 / span 1 / span 1;
		}
	}

	.day-forecast-text {
		//padding:
		text-align: left;
		flex: 4;
	}

	.day-forecast-city-image {
		//margin:
		flex: 6;
	}
}
