.cards-container,
.card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards-container {
	flex-wrap: wrap;
	gap: 10px;
	background-color: $color-primary;
	color: $color-white;
	min-height: 110px;
}

.card {
	font-size: 14px;
	width: 220px;
	height: 100px;
	padding: 1rem;
	gap: 0.25rem;

	&:hover {
		background-color: $color-highlight;
		transform: scale(1.3);
		transition: 0.3s;
	}
}

.card-icon {
	width: 80px;
	height: 80px;
}

.card-item {
	width: 200px;
}
