$color-base: #34495e;
$color-border: #d35400;
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //border: 1px solid red;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    bottom: 115px;
}

.card {
    //border: 1px solid red;
    width: 150px;
    min-height: 230px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: black;
    background-color: #ddd;
    &:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }
}

a {
    text-decoration: none;
    color: black;
}
