.nav-bar-content,
.nav-bar-search,
.search-settings,
.search-settings-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: $breakpoint-mobile) {
	.search-settings-content {
		flex-direction: column;
	}
}

@media (min-width: $breakpoint-tablet) {
	.search-settings-content {
		flex-direction: row;
	}
}
