.bold {
	font-weight: bold;
}

.primary-color {
	color: $color-primary;
}

.clickable {
	cursor: pointer;
}

.error {
	color: $color-error;
}

.max-width-centered {
	max-width: 1300px;
	margin: 0 auto;
}
